{% block footer %}
<footer>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="author">Katarzyna Moskała</div>
            <div class="author_details">
                <a href="tel:537317616">537 317 616</a>
                <a href="mailto:kasia.moskala.20.03@gmail.com">kasia.moskala.20.03@gmail.com</a>
                <a href="https://www.linkedin.com/in/katarzyna-moska%C5%82a-88242a205/" class="linkedin">Linkedin</a>
            </div>
        </div>
    </div>
</div>
</footer>
{% endblock %}





