{#
/**
 * Block Name: Container
 * This is the template that displays the example block.
 */
#}
<section>
    <div class="container" style="background-color: {{acf.bg_color}};padding: 15px; margin: 15px auto;">
        <div class="row">
            <div class="col-12">
                <InnerBlocks />
            </div>
        </div>
    </div>
</section>
