body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.wrapper {
  padding-top: 0 !important;
}
body,
main {
  overflow-x: hidden !important;
}
.clear {
  clear: both;
  width: 100%;
  display: block;
}
img {
  max-width: 100%;
}
#logo > img {
  width: 165px;
  @media screen and (max-width:1600px) {
    width: 100px;
  }
}
